<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- All <servlet> declarations first -->
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.JspServlet.HelloServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.JspServlet.RegisterServlet</servlet-class>
  </servlet>

  <!-- Then all <servlet-mapping> elements -->
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <!-- Optional elements after mappings -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
